#crystal1 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    }


#crystal2 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

#crystal3 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}
     
#crystal4 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

.gems {
    text-align: center;
}

.header {
    color:  palevioletred;
    text-shadow: 1px 0px mintcream, 0px 1px  rgb(241, 187, 232),
    2px 1px mintcream, 1px 2px  rgb(241, 187, 232),
    3px 2px mintcream, 2px 3px  rgb(241, 187, 232),
    4px 3px mintcream, 3px 4px  rgb(241, 187, 232),
    5px 4px mintcream, 4px 5px  rgb(241, 187, 232),
    6px 5px mintcream, 5px 6px  rgb(241, 187, 232),
    7px 6px mintcream, 6px 7px  rgb(241, 187, 232),
    8px 7px mintcream, 7px 8px  rgb(241, 187, 232),
    8px 8px mintcream;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.instructions {
    text-align: center;
    font-size: x-large;
    color: palevioletred;
    padding-bottom: 25px;
    text-shadow: 2px 2px 5px rgb(240, 149, 225);
    font-family: 'Courier New', Courier, monospace;
}

.goalNumber {
    text-align: center;
    font-size: large;
    margin-bottom: 25px;
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
}

.win {
    text-align: center;
    font-size: large;
    max-width: 33%;
    float: left;
    padding: 50px 40px;
    margin: 20px;
    border: 5px outset palevioletred;
    background: linear-gradient(to bottom right, rgb(241, 187, 232), mintcream);
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
}

.lose {
    text-align: center;
    font-size: large;
    max-width: 33%;
    float: right;
    padding: 50px 40px;
    margin: 20px;
    border: 5px outset palevioletred;
    background: linear-gradient(to bottom right, rgb(241, 187, 232), mintcream);
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
}

#winLose {
    font-size: large;
}

.totalScore {
    text-align: center;
    font-size: large;
    padding-bottom: 25px;
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
}

#scoreNum {
    background: linear-gradient(to bottom right, rgb(241, 187, 232), mintcream);
    border: 5px outset palevioletred;
    padding: 5px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.gems {
    padding-bottom: 30px;
}

