#crystal1 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    }


#crystal2 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

#crystal3 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}
     
#crystal4 {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}

.gems {
    text-align: center;
}

.header {
    text-align: center;
    font-size: xx-large;
}

.instructions {
    text-align: center;
    font-size: x-large;
}

.goalNumber {
    text-align: center;
    font-size: large;
    margin-bottom: 25px;
}

.win {
    text-align: center;
    font-size: large;
    max-width: 50%;
    float: left;
    padding-left: 100px;
    padding-bottom: 30px;
}

.lose {
    text-align: center;
    font-size: large;
    max-width: 50%;
    float: right;
    padding-right: 100px;
    padding-bottom: 30px;
}

#winLose {
    font-size: large;
}

.totalScore {
    text-align: center;
    font-size: large;
    padding-bottom: 25px;
}

.gems {
    padding-bottom: 30px;
}

